$poppins: 'Poppins', Verdana, Tahoma, sans-serif;
$wellfleet: 'Wellfleet', Rockwell, "Courier New", serif;

$teal: #208CA6;
$yellow: #E5A430;
$purple: #554375;
$gray-dk: #3E4248;
$gray-lt: #A0A8BC;


$huge-text: 5em;
	